<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录用户中心</title>
    <link rel="stylesheet" href="style/auth.css">
</head>
<body>
<div id="app">
    <div class="container">
        <h1 class="header">登录用户中心</h1>
        <div class="login-box">
            <div class="loginInfo">
                <label for="account">用户账户: </label>
                <input type="text" id="account" v-model="loginData.account">
            </div>
            <div class="loginInfo">
                <label for="password">用户密码: </label>
                <input type="text" id="password" v-model="loginData.password">
            </div>
            <div style="height: 50px;"></div>
            <div class="submit">
                <button v-on:click="login">登录</button>
            </div>
            <div class="hint">
                <p>没有账户? <a href="register.html">点我</a>去注册</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            loginData: {
                account: "",
                password: ""
            }
        },
        methods: {
            login() {
                axios.post("/users/login", this.authData).then((res) => {
                    console.log(res)
                    if (res.data.code === 0) {
                        alert("登录成功")
                        window.location.href = "/page/users.html"
                    } else {
                        alert("登陆失败: " + res.data.message + "(" + res.data.description + ")")
                    }
                })
            }
        }
    })
</script>
</html>