<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册用户中心</title>
    <link rel="stylesheet" href="style/auth.css">
</head>
<body>
<div id="app">
    <div class="container">
        <h1 class="header">注册用户中心</h1>
        <div class="login-box">
            <div class="loginInfo">
                <label for="account">用户账户: </label>
                <input type="text" id="account" v-model="registerData.account">
            </div>
            <div class="loginInfo">
                <label for="password">用户密码: </label>
                <input type="text" id="password" v-model="registerData.password">
            </div>
            <div class="loginInfo">
                <label for="checkPassword">用户密码: </label>
                <input type="text" id="checkPassword" v-model="registerData.checkPassword">
            </div>
            <div class="submit">
                <button v-on:click="register">注册</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            registerData: {
                account: "",
                password: "",
                checkPassword: ""
            }
        },
        methods: {
            register() {

            }
        }
    })
</script>
</html>