#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 500px;
    text-align: center;
}

.header {
    /*margin-top: 80px;*/
    font-size: 40px;
}

.login-box {
    margin-top: 80px;
}

.login-box * {
    margin-top: 16px;
}

.loginInfo {
    height: 50px;
}

.loginInfo * {
    line-height: 30px;
}

.loginInfo label {
    font-size: 20px;
}

.loginInfo input {
    width: 200px;
    margin-left: 20px;
    border: 3px solid gainsboro;
    border-radius: 8px;
}

.submit {
    margin-top: 20px;
}

.submit button {
    width: 80%;
    height: 36px;
    border: 2px solid #909399;
    border-radius: 6px;
    font-size: 18px;
}